<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>[开心]</key>
	<string>😃</string>
	<key>[色]</key>
	<string>😍</string>
	<key>[冷漠]</key>
	<string>😒</string>
	<key>[发呆]</key>
	<string>😳</string>
	<key>[憨笑]</key>
	<string>😁</string>
	<key>[飞吻]</key>
	<string>😘</string>
	<key>[轻松]</key>
	<string>😉</string>
	<key>[生气]</key>
	<string>😠</string>
	<key>[忧虑]</key>
	<string>😞</string>
	<key>[冷汗]</key>
	<string>😥</string>
	<key>[大哭]</key>
	<string>😭</string>
	<key>[嘻嘻]</key>
	<string>😝</string>
	<key>[愤怒]</key>
	<string>😡</string>
	<key>[着急]</key>
	<string>😣</string>
	<key>[担忧]</key>
	<string>😔</string>
	<key>[大笑]</key>
	<string>😄</string>
	<key>[感冒]</key>
	<string>😷</string>
	<key>[亲亲]</key>
	<string>😚</string>
	<key>[无语]</key>
	<string>😓</string>
	<key>[哭笑]</key>
	<string>😂</string>
	<key>[微笑]</key>
	<string>😊</string>
	<key>[失望]</key>
	<string>😢</string>
	<key>[鬼脸]</key>
	<string>😜</string>
	<key>[可怕]</key>
	<string>😨</string>
	<key>[焦急]</key>
	<string>😰</string>
	<key>[吃惊]</key>
	<string>😲</string>
	<key>[阴笑]</key>
	<string>😏</string>
	<key>[惊悚]</key>
	<string>😱</string>
	<key>[累了]</key>
	<string>😪</string>
	<key>[纠结]</key>
	<string>😖</string>
	<key>[无奈]</key>
	<string>😌</string>
	<key>[恶魔]</key>
	<string>👿</string>
	<key>[幽灵]</key>
	<string>👻</string>
	<key>[圣诞]</key>
	<string>🎅</string>
	<key>[女儿]</key>
	<string>👧</string>
	<key>[儿子]</key>
	<string>👦</string>
	<key>[妈妈]</key>
	<string>👩</string>
	<key>[爸爸]</key>
	<string>👨</string>
	<key>[小狗]</key>
	<string>🐶</string>
	<key>[猫]</key>
	<string>🐱</string>
	<key>[点赞]</key>
	<string>👍</string>
	<key>[嘲讽]</key>
	<string>👎</string>
	<key>[拳头]</key>
	<string>👊</string>
	<key>[什么]</key>
	<string>✊</string>
	<key>[耶]</key>
	<string>✌️</string>
	<key>[给力]</key>
	<string>💪</string>
	<key>[鼓掌]</key>
	<string>👏</string>
	<key>[左边]</key>
	<string>👈</string>
	<key>[上边]</key>
	<string>👆</string>
	<key>[右边]</key>
	<string>👉</string>
	<key>[下边]</key>
	<string>👇</string>
	<key>[好的]</key>
	<string>👌</string>
	<key>[爱]</key>
	<string>❤</string>
	<key>[心碎]</key>
	<string>💔</string>
	<key>[拜托]</key>
	<string>🙏</string>
	<key>[太阳]</key>
	<string>☀</string>
	<key>[月亮]</key>
	<string>🌙</string>
	<key>[星星]</key>
	<string>🌟</string>
	<key>[闪电]</key>
	<string>⚡</string>
	<key>[白云]</key>
	<string>☁</string>
	<key>[雨伞]</key>
	<string>☔</string>
	<key>[枫叶]</key>
	<string>🍁</string>
	<key>[向日葵]</key>
	<string>🌻</string>
	<key>[叶子]</key>
	<string>🍃</string>
	<key>[裙子]</key>
	<string>👗</string>
	<key>[丝巾]</key>
	<string>🎀</string>
	<key>[嘴]</key>
	<string>👄</string>
	<key>[玫瑰]</key>
	<string>🌹</string>
	<key>[咖啡]</key>
	<string>☕</string>
	<key>[时间]</key>
	<string>🕙</string>
	<key>[啤酒]</key>
	<string>🍺</string>
	<key>[放大镜]</key>
	<string>🔍</string>
	<key>[手机]</key>
	<string>📱</string>
	<key>[房子]</key>
	<string>🏠</string>
	<key>[汽车]</key>
	<string>🚗</string>
	<key>[礼物]</key>
	<string>🎁</string>
	<key>[足球]</key>
	<string>⚽</string>
	<key>[炸弹]</key>
	<string>💣</string>
	<key>[钻石]</key>
	<string>💎</string>
</dict>
</plist>
